/* You can add global styles to this file, and also import other style files */

@import 'material-icons/iconfont/material-icons.css';

:root {
  font-family: 'Roboto', 'Calibri';

  app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select {
  outline: none;
  padding: 0 4px;
  flex: 1;
  box-sizing: border-box;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  background-color: #fff;
  font-weight: 400;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 4px;

  th,
  td,
  tfoot {
    border: 1px solid var(--table-border-color);
    padding: 8px;
    text-align: left;
  }

  thead tr {
    color: var(--title-color);
    background-color: var(--table-header-background);
  }

  tbody {
    tr:nth-child(even) {
      background-color: var(--table-even-rows-background);
    }

    td.empty {
      width: 100%;
      text-align: center !important;
      color: #5e5e5e;
    }
  }

  tfoot {
    td {
      padding: 0;
    }

    .pagination {
      height: 30px;
      padding: 8px;
      background-color: var(--table-header-background);
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        color: #9e9e9e;
      }

      .icon {
        padding: 4px;
        font-size: 18px;

        &.disabled {
          opacity: 0.3;
          pointer-events: none;
        }
      }

      .back {
        transform: scaleX(-1);
      }

      .pages {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          cursor: pointer;

          padding: 6px 12px;

          &.active {
            background-color: #0078d7;
            color: #fff;
          }
        }
      }
    }
  }
}
