<div class="wrapper">

    @if (yearsWithMultipleWinners.length > 0) {
    <card-dashboard title="List years with multiple winners" [columns]="yearsWithMultipleWinnersColumns"
        [data]="yearsWithMultipleWinners"></card-dashboard>
    }

    @if (studiosWithWinCount.length > 0) {
    <card-dashboard title="Top 3 studios with winners" [columns]="studiosWithWinCountColumns"
        [data]="studiosWithWinCount"></card-dashboard>
    }

    @if (minMaxWinIntervalForProducersTables.length > 0) {
    <card-dashboard title="Producers with longest and shortest interval between wins"
        [tables]="minMaxWinIntervalForProducersTables"></card-dashboard>
    }

    <card-dashboard title="List movie winners by year" [searchBar]="winnersByYearSearchBar"
        (onSearch)="getWinnersByYear($event)" [tables]="[winnersByYearTable]">

    </card-dashboard>

</div>