<div class="wrapper">

    <card-dashboard id="card-dashboard-multiple-winners" title="List years with multiple winners"
        [table]="yearsWithMultipleWinnersTable"></card-dashboard>

    <card-dashboard id="card-dashboard-top-studios-winners" title="Top 3 studios with winners"
        [table]="studiosWithWinCountTable"></card-dashboard>

    <card-dashboard title="Producers with longest and shortest interval between wins"
        [tables]="minMaxWinIntervalForProducersTables"></card-dashboard>

    <card-dashboard title="List movie winners by year" [table]="winnersByYearTable"></card-dashboard>

</div>