<div class="card">
    <span class="title">{{title}}</span>

    @for (table of tables; track $index) {

    <div class="table-container">

        @if (table.title) {
        <span class="table-title">{{table.title}}</span>
        }

        @if(searchBar){
        <div class="search">
            <input #input [type]="searchBar.type" [placeholder]="searchBar.placeholder" [min]="searchBar.min"
                [max]="searchBar.max" (keyup.enter)="search(input)">
            <!-- TODO: Icon -->
            <button (click)="search(input)">Search</button>
        </div>
        }

        <table>
            <thead>
                <tr>
                    @for (column of table.columns; track column.field) {
                    <th>{{ column.title }}</th>
                    }
                </tr>
            </thead>
            <tbody>

                @for (row of table.data; track $index) {
                <tr>
                    @for (column of table.columns; track column.field) {
                    <td>{{ row[column.field] }}</td>
                    }
                </tr>
                }@empty {
                @if (searchBar && lastSearch.length > 0) {
                <tr>
                    <td class="empty" [colSpan]="table.columns.length">No results found</td>
                </tr>
                }
                }

            </tbody>
        </table>
    </div>
    }

</div>