<div class="card">
    <span class="title">{{title}}</span>

    <table>
        <thead>
            <tr>
                @for (column of columns; track column.field) {
                <th>{{ column.title }}</th>
                }
            </tr>
        </thead>
        <tbody>

            @for (row of data; let i = $index; track `table-row-${i}`) {
            <tr>
                @for (column of columns; track column.field) {
                <td>{{ row[column.field] }}</td>
                }
            </tr>
            }


        </tbody>
    </table>
</div>