<div class="card">
    <span class="title">{{title}}</span>

    @for (table of tables; track $index) {

    <div class="table-container">

        @if (table.title) {
        <span class="table-title">{{table.title}}</span>
        }

        <table>
            <thead>
                <tr>
                    @for (column of table.columns; track column.field) {
                    <th>{{ column.title }}</th>
                    }
                </tr>
            </thead>
            <tbody>

                @for (row of table.data; track $index) {
                <tr>
                    @for (column of table.columns; track column.field) {
                    <td>{{ row[column.field] }}</td>
                    }
                </tr>
                }

            </tbody>
        </table>
    </div>
    }

</div>